body{
    margin: 0;
    background-color: rgb(247, 243, 243);
    padding-bottom: 50px;
}


.box1{
    border-radius: 25px;
    background: rgb(68, 67, 78);
    margin-top: 60px;
    width: 200px;
    height: 150px;
    margin-left: 70px;
}

.box2{
    border-radius: 25px;
    background: rgb(68, 67, 78);
    margin-top: 60px;
    width: 200px;
    height: 150px;
    margin-left: 50px;
}

.box3{
    border-radius: 25px;
    background: rgb(68, 67, 78);
    margin-top: 60px;
    width: 200px;
    height: 150px;
    margin-left: 50px;
}

.box4{
    border-radius: 25px;
    color: #444941;
    width: 40px;
    background-color: rgb(68, 67, 78);
    margin-top: 90px;
    padding-top: 200px;
    padding-left: 550px;
    margin-left: 20px;
}

.box0{
    border-radius: 25px;
    color: #444941;
    background-color: rgb(68, 67, 78);
    margin-top: 90px;
    padding-left: 50px;
    padding-top: 550px;
}